[2015-05-21 23:31] omgitstom opened #3 "When we handle the forget password pages"
We need to make sure we do not leak an account's status or information

[2015-10-01 17:00] robertjd commented on #3
This did make it into the spec, but now that we've implemented it: this doesn't make sense.  Yes, this prevents a dictionary attack through the `/forgot` endpoint, but we be expose the same attack vector through `/login`, so I don't see a point in limiting the information that we return from the `/forgot` endpoint

[2015-10-01 17:01] rdegges commented on #3
+1 super annoying.... ><

[2015-10-01 17:01] rdegges commented on #3
We are changing this in our express stuff right now, and this is gonna be really annoying for people.

[2015-10-01 17:09] lhazlewood commented on #3
Annoying how?

And how does `/forgot` allow dictionary attacks when you have to send and respond to an email to reset your password?  I.e. "If you have a user account, you should see an email soon with instructions."

[2015-10-01 17:10] robertjd commented on #3
@lhazlewood which side of situation are you promoting?

[2015-10-01 17:22] lhazlewood commented on #3
I'm not promoting either side - just trying to understand what is annoying and why. :)

[2015-10-01 17:52] robertjd commented on #3
A few annoyances:
- As an end user, I may think I have an account in the system, but I don't.  I keep putting in my email address, getting a message that says an email is being sent, an I never get an email.  An error message, "no account found" , would be a MUCH nicer experience
- As a developer or support tech, I want to know why the password reset is failing for the user.  Error messages are ni

[2015-10-05 20:45] robertjd commented on #3
Per our discussion this morning, we will implement this as an option.  By default we will not expose the error which indicates that the email address does not exist.  You will have to enable an option if you want to inform the user that the email address cannot be found in the data store.

[2015-10-05 20:45] #3 closed, assigned to nobody

[2015-10-08 14:54] robertjd opened #10 "Discuss: multi-tenancy support"
We will be using our Organization resource to support multi-tenancy in our Framework integrations.

[2015-12-17 02:02] bretterer opened #18 "Remember Me Checkbox"
During the Login Process, Do we want to include a remember me token?  Here is my thought of how this would work.

If the account store tokens allow for a refresh_token, we display the checkbox.

If the user selects the checkbox, we allow the refresh_token cookie to be set.  During the verification to see if the user is logged in (typically in middleware i believe) we check to see if the access_tok

[2015-12-17 18:06] rdegges commented on #18
Hmm. I've always been against this because I feel like it's a bad user experience. This sort of thing shouldn't be left up to a user to decide, just seems silly to me. 99.99999999% of users just don't care, and unless there's a very specific security reason you DON'T want to have long sessions, you should probably always offer longer, more convenient session lengths.

[2015-12-17 18:08] nbarbettini commented on #18
@rdegges Just to clarify, you are suggesting that "remember me" should be the default behavior, without an option presented to the user?

[2015-12-17 18:09] rdegges commented on #18
Yes. We should, IMO, always provide a refresh cookie in the session with a reasonably long expiration. This way site access is more convenient for users.

Unless there's a very serious reason to limit session length (eg: banking websites), that should just always be the default behavior. I've always just hated those stupid remember me checkboxes because it's like: why do I have to do extra work to

[2015-12-22 02:50] robertjd commented on #18
I agree with @rdegges , the "remember me" experience is so varied and so mis-understood.  Until we get a customer request for such a feature, I don't see a reason to support any configuration around this.

[2015-12-22 15:53] rdegges commented on #18
I'd like to go so far as to perma-blacklist it. Nobody should ever have a remember me box on a website, heh.

[2015-12-23 19:54] bretterer opened #21 "Define the response codes for unsupported media type"
During the setup of the Produces in the framework, we define what we should allow in the Accept method but do not define the error codes to return if it is outside this.

We need to define in the spec what error codes to return when.  The one I am talking about here would return in my opinion a 406 Not Acceptable error code.

[2015-12-28 14:49] george-hawkins-work opened #22 "It should be possible to dynamically specify the authority part (i.e. host and port) of verification and password reset URLs"
Currently the base part of verification and password reset URLs for a given directory are specified as a hardcoded **fixed** values:
![image](https://cloud.githubusercontent.com/assets/12233059/12020071/336c5b48-ad78-11e5-8623-4d98562e85bd.png)
However we hit the same Stormpath directories from a few different sites (each with their own hostname).

So if the link base URL for a given directory poi

[2016-01-05 23:21] robertjd commented on #18
Per our SDK meeting today, I am closing this issue.  Our framework integrations will not provide a "remember me" feature.  If the developer needs the functionality, we can suggest ways of achieving this with our access & refresh tokens.

[2016-01-05 23:21] #18 closed, assigned to nobody

[2016-01-05 23:31] robertjd commented on #22
Thank you for this feedback.  At the moment this is a limitation of the API: directory resources have a single base URL for each email template.  This is not something we will solve in the framework integration.

To work around the issue, you can do one of the following:
- Use multiple directories, one for each site, if you don't need to use the same account (username and password combo) across ea

[2016-01-05 23:31] #22 closed, assigned to nobody

[2016-01-05 23:35] robertjd commented on #21
If the client requests a resource that the framework integration is handling, but the requested content type is not in the `produces` list, then yes I believe the response should be 406.  @lhazlewood ?

[2016-01-18 23:02] rdegges opened #23 "Typo"
https://github.com/stormpath/stormpath-framework-spec/blob/master/web-config.yaml#L94

[2016-01-19 18:32] #23 closed, assigned to nobody

[2016-02-02 20:57] omgitstom opened #25 "Logout behavior is missing from the spec"
For example:

curl -v -H "Authorization: Bearer eyJraWQiOiJSOTJTQkhKQzFVNERBSU1HUTNNSE9HVk1YIiwiYWxnIjoiSFMyNTYifQ.eyJqdGkiOiIzME9iRVpvc3pXOUlieHZaU0JQbmdIIiwiaWF0IjoxNDU0NDM1ODMyLCJpc3MiOiJodHRwczovL2FwaS5zdG9ybXBhdGguY29tL3YxL2FwcGxpY2F0aW9ucy82dkZUNEFSZldDbXVIVlY4Vmt0alRvIiwic3ViIjoiaHR0cHM6Ly9hcGkuc3Rvcm1wYXRoLmNvbS92MS9hY2NvdW50cy80V1NjTWJBbm8zVjk1aWlTc3dralBYIiwiZXhwIjoxNDU0NDM5NDMyLCJydGkiO

[2016-02-05 00:13] edjiang commented on #25
What is this in context for mobile? Does the route revoke the access/refresh tokens, too?

[2016-02-05 00:21] lhazlewood commented on #25
It should.  Any logout endpoint should completely relinquish any/all identity and/or session state to be safe.

[2016-02-08 18:31] omgitstom opened #28 "Organization Support"
Questions:

How should each framework detect subdomain for an organization?
How should each framework denote to add a login field for form-field multi-tenancy?

[2016-02-08 18:43] omgitstom opened #29 "Client User Agents"
How should the framework pass user-agent?

[2016-02-09 22:45] edjiang opened #32 "Error Handling needs to be documented"
While thinking about and building out error handling for the iOS SDK, I've noticed that documentation on error handling is a bit lacking. Currently, using the reference implementation on the `express-stormpath 2.4.0` app, we can get errors in multiple ways:

[code]

[code]

The spec currently says for many resources:

[code]

@robertjd mentioned that the spec mentions an error array since we could

[2016-02-09 23:30] omgitstom commented on #32
The HTTP status should denote it is an error:

The body of the response should resemble a limited view of the Stormpath Error:

[code]

For SDK specific errors, the integrations should make cognitive decisions about what to set for status, code, error message.  These should be captured on the page that hosts this information.

[2016-02-10 00:13] edjiang commented on #32
Specifically for @robertjd's `express-stormpath`, another error condition I found when disabling the connection to `api.stormpath.com` (this is on the `/oauth/token` endpoint):

[code]

[2016-02-10 01:02] edjiang commented on #32
Thinking about this more, I think the `/oauth/token` endpoint should just follow the OAuth spec for errors? I'm fine with having a different error object for the OAuth endpoint, and it'd be good to work with standard OAuth clients.

http://tools.ietf.org/html/draft-ietf-oauth-v2-10#section-4.3

[2016-02-12 19:30] robertjd commented on #32
Thanks @edjiang for bringing this up!  Closed by our meeting yesterday, as applied in #34

[2016-02-12 19:30] #32 closed, assigned to nobody

[2016-02-12 19:30] robertjd commented on #29
Defined by #33

[2016-02-12 19:30] #29 closed, assigned to nobody

[2016-02-12 19:31] robertjd commented on #10
Duplicate of #28

[2016-02-12 19:31] #10 closed, assigned to nobody

[2016-02-17 03:11] robertjd opened #36 "Usage of “login” over “username”"
We made the choice to have clients post a “login” field, rather than a “username” field.  The reasoning is that “login” is better because this value can be a username _or_ an email address, as such it felt wrong to call it just `username`.

However, this breaks away from the REST API.  If you don't supply the `username` field to the `loginAttempts` endpoint, you'll get the error `username paramete

[2016-02-17 05:03] rdegges commented on #36
I'm not really a fan of the 'username' thing -- I think it was a mistake to have that as part of the core API as it is very confusing, and is going to be more confusing when we eventually make more and more core fields optional.

So, I suppose I'm in favor of keeping the 'login' thing instead :( Although I know that would be super annoying ><

[2016-02-17 15:59] nbarbettini commented on #36
I agree that "login" makes more sense than "username". Intercepting the error message feels icky to me, but that seems like the only viable option. Unless someone has a better idea, I'm for it.

[2016-02-17 18:35] robertjd commented on #36
I would also prefer to keep `login`, and deal with the error shim until the REST API changes.

[2016-02-17 20:47] bretterer opened #37 "No Expansion on /me endpoint"
Talking with @omgitstom, the decision for expansion was removed for the /me endpoint.  This needs to be updated in the web-config.yml and user-context.md files

[2016-02-17 21:28] edjiang commented on #37
Isn't that covered in 00255c0?

[2016-02-17 21:43] bretterer commented on #37
that commit adds in the expansion option.  Talking to Tom, the decision was set into motion to remove the ability to specify expand options.  @edjiang

[2016-02-17 22:18] edjiang commented on #37
I believe that's referring to the `?expand=X` query parameter; we are removing that.

https://github.com/stormpath/stormpath-framework-spec/commit/00255c09671de079f837f1c6edee24239a4c45a7#diff-cefc0f204f2da890e70c70316d9a1292L70

[2016-02-17 22:21] edjiang commented on #36
Slightly off topic, but I would disagree with `login` as a term for the account identifier, as it's ambiguous as whether or not it's a noun or verb. We use it as a verb in many other contexts, including the route itself.

"We need to collect the user's login on the login page" is a confusing statement and one that I could see customer developers saying with this naming strategy.

[2016-02-17 22:24] edjiang commented on #36
For instance, here is some documentation I just wrote and am trying to make less confusing.

## 3. Logging in

To log in, collect the login and password from the user, and then pass them to login method:

[code]

[2016-02-17 22:57] omgitstom commented on #36
I would rather you guys not build custom logic for stuff that is minor.  Perfection is the enemy of progress, and the more logic we have to put in the integrations is just slowing everything down.  No one is done with their framework to spec, this doesn't impact spec, if the error message changes on the server, then there is no change to be done here.

This is minor, treat it as such.  We can fix

[2016-02-17 23:01] bretterer commented on #37
Ping @omgitstom

[2016-02-17 23:35] edjiang opened #38 "Specify allowed "input types" for registration form."
For instance, I tried using "checkbox" and while it technically worked, did not seem supported in `express-stormpath`, and didn't work at all in laravel.

Radio doesn't make sense with our configuration options, button doesn't make sense, and there's a bunch of HTML5 input types that I don't think we validate.

[2016-02-18 03:04] robertjd commented on #36
Thanks everyone for the input, no changes needed as I see it.

[2016-02-18 03:04] #36 closed, assigned to nobody

[2016-02-18 03:09] robertjd commented on #38
In [registration.md](https://github.com/stormpath/stormpath-framework-spec/blob/master/registration.md)

As you've found, text and password are the only practical types for this field.

[2016-02-18 03:20] robertjd commented on #37
We removed the ability for a client to request the `/me` route and specify an expansion as a query parameter.  We still want to allow the developer to opt-in to expansion with static configuration.

[2016-02-18 03:20] #37 closed, assigned to nobody

[2016-02-18 03:37] robertjd opened #39 "Default of 'index' for spa.view option"
Ping @lhazlewood , do you recall if there was a specific reason why we set [stormpath.web.spa.view](https://github.com/stormpath/stormpath-framework-spec/blob/master/web-config.yaml#L214) to a default of `index`?  We don't have a default SPA view to serve, so this value should actually be `null`.  Further, we should error during config parsing if the developer enables the spa feature, but does not

[2016-02-18 05:29] bretterer commented on #37
This ticket was more for the addition or subtraction of the spec.  right
now it talks about the expansion parameters.

[2016-02-18 06:15] edjiang commented on #38
The spec leaves it ambiguous as to whether or not text/password are examples, (hence the eg) or the only supported options.

`checkbox` is a valid HTML input type, and actually works in express-stormpath.

[2016-02-18 06:15] edjiang commented on #37
Nothing was changed with the configuration portion of the spec. If a user expands options in the client, it will be exposed on the endpoint.

[2016-02-18 06:17] robertjd commented on #38
Thanks, can you make a PR that clarifies?

[2016-02-18 06:20] edjiang opened #40 "Add refresh grant type to spec"
Not specced in the oauth endpoint, but needed & present in both express and larval currently.

[2016-02-18 06:20] edjiang commented on #38
Sure. I'll do so tomorrow.

[2016-02-22 22:46] rdegges commented on #38
I think we should also totally support number types. This has come up many times w/ customers. Thoughts?

[2016-02-23 17:53] robertjd commented on #38
My opinion is that the developer should be able to define whatever they what, but checkbox and radio are going to act weird without a proper form parsing library.  As such, I think our spec should leave this undefined and simply state that we pass this value directly to the HTML form element.  Simple.

[2016-02-23 18:13] edjiang commented on #38
And mobile falls back to a text input type? Or has undefined behavior?

[2016-02-23 18:16] robertjd commented on #38
You'll have to decide how HTML5 input types can map onto iOS input tyhpes.

[2016-02-23 23:06] lhazlewood commented on #38
The `type` field in config is supposed to be whatever the user wants.  In a server-side rendering framework, these string values should be identical to an HTML5 input type.  They could change it to be `radio` if they want, but then they'll need to change the html template to deal with that accordingly.  Nothing wrong with that either - its up to them if they want to render the model however they w

[2016-02-23 23:42] robertjd opened #43 "Implement logout as POST"
There is a strong argument that the logout URI should not respond to GET requests, because:
- Other sites can maliciously log you out via simple image tags.  E.g. http://superlogout.com/ :)
- The omnibar in the browser will pre-emptibely request the logout URI if it thinks you are typing it, and log you out.

More reading here:

http://stackoverflow.com/questions/3521290/logout-get-or-post

As suc

[2016-02-24 00:04] lhazlewood commented on #43
Unless I'm missing something, POST doesn't really solve anything.  Anyone could use Javascript to auto-submit a form that sends a POST to the /logout URI as well.

Isn't this more of a CSRF issue?

I should note that IMO this is not really a security problem - a logout should clear/eliminate any security context whatsoever, which just prevents the user from doing anything.  It would be a nuisance

[2016-02-24 00:18] robertjd commented on #43
Correct, the issue here is mostly UX nuisance.  To absolutely prevent someone from logging you out, without your permission, you would need a CSRF solution with your POST forms.

[2016-02-24 21:44] #43 closed, assigned to nobody

[2016-02-24 21:45] #25 closed, assigned to nobody

[2016-02-25 15:57] nbarbettini opened #46 "Clarification of nullable bool types"
It would be helpful to have some comments in [web-config.yaml](https://github.com/stormpath/stormpath-framework-spec/blob/master/web-config.yaml) or elsewhere describing which `bool` values are allowed to be `null`, and which aren't.

[2016-02-25 18:03] robertjd commented on #46
I see that `basePath` has no comments, and the null's in the cookie definitions are just a link to another document.  Are there others that need more clarification?

[2016-02-25 18:28] robertjd commented on #38
I've updated master to be more clear about this situation:

[2016-02-25 18:28] #38 closed, assigned to nobody

[2016-02-25 18:47] robertjd commented on #21
Here is a good read on this:

http://stackoverflow.com/questions/12130910/how-to-interpret-empty-http-accept-header

As such, I think the rules should be:
- If no `Accept` header, or the value of `Accept` is null, then treat it as `Accept: */*` and return the HTML response.
- If `Accept` is something that we truly do not support, e.g. `Accept: foo/bar`, then send 406.

[2016-02-25 18:56] robertjd commented on #28
I believe it should work like this:
- If an organization name key is implied by a subdomain, then use that name key when posting the login form.  We would need to add an option `stormpath.web.domain` to determine what the root of the domain is, so that we can detect a subdomain that is prefixed to it.
- If organization name key is NOT implied by subdomain, then we must show a field on the login fo

[2016-02-25 19:00] lhazlewood commented on #21
We can do what we want here.  The HTTP spec allows us to either return a 406 or return a representation instead if we want:

https://tools.ietf.org/html/rfc7231#section-3.4

Specifically, 2nd-to-last paragraph of 3.4.1, 'Proactive Negotiation' (bold emphasis is mine):

So, we get to choose.

My opinion is that if the client has an Accept header that does not contain _any_ value that reflects what

[2016-02-25 19:02] lhazlewood commented on #21
I should note that my answer above is based on the latest/current version of the HTTP spec, while the SO answer references the old RFC 2616.  I don't know if they differ, but I chose to avoid the old reference and focus only on RFC 7231.

[2016-02-26 17:27] nbarbettini commented on #46
`basePath` is fine - I assumed that any string types can be null.

No other clarification is needed, if none of the other bools can be set to null.

[2016-02-26 17:42] lhazlewood commented on #46
I'd use `baseUri` for consistency and to be congruent (so it is obvious that uris are concatenated)

[2016-02-27 02:26] #21 closed, assigned to nobody

[2016-03-03 05:50] edjiang opened #52 "Clarify "disabled" user properties"
@robertjd and @omgitstom, @bretterer and I were stumbling upon this ambiguity as we were testing laravel this night.

If I post:

`{ "givenName": "Test", "middleName": "Tester", "surname": "McTest", "email": "tester@example.com", "password": "TestTest1"}`

Both express and laravel currently will set the middle name attribute, even though the middle name field is disabled by default in the config.

[2016-03-03 06:02] robertjd commented on #52
"enabled" controls field visibility, "required" controls validation.
On Mar 2, 2016 9:50 PM, "Edward Jiang" notifications@github.com wrote:

[2016-03-03 06:15] edjiang commented on #52
So - if it's not on the form, I would guess that POSTing it should not set the middleName attribute? If so, this is a bug in all three of our framework spec implementations so far (iOS included, as we always POST username).

In the reverse -- would we 400 error when someone posts middleName with the default configuration, just like we error for customData that is posted but shouldn't have been?

[2016-03-03 17:31] nbarbettini commented on #52
Does `required: false` mean "optional, don't error if missing", and `required: true` mean "nonoptional, error if missing"?

[2016-03-04 00:29] nbarbettini opened #53 "Define framework User-Agent"
[agent-tracking.md](https://github.com/stormpath/stormpath-framework-spec/blob/master/agent-tracking.md) details how a frontend client User-Agent is prepended to the existing framework User-Agent string, but how the latter is constructed is not defined anywhere in this spec.

[2016-03-04 01:17] edjiang commented on #53
Yeah, I think we defined that at an earlier meeting, but I don't see it there.

I think we decided to send something like:

`X-Stormpath-Agent: stormpath-sdk-nodejs/1.0.0 express-stormpath/1.0.0`, eg, named after the framework integration / SDK names or something?

[2016-03-04 01:25] edjiang opened #54 "Cookies pose a problem for social login on mobile"
To get a social login `access_token`, I need to post to `/login` and then read the responding cookie.

The cookie name is not guaranteed to be `access_token`, as it's a configurable value. This poses a problem on mobile, since we would have to add the cookie name as a configurable parameter.

While we can do it, I think it's not a great idea and can pose lots of problems in the future.

Would we b

[2016-03-04 02:02] robertjd commented on #54
Hmm, yes this is an issue.  We already have an `/oauth/token` endpoint that is attached to the framework integration, I'd like to explore a way to extend that to accept social token results and exchange them for stormpath oauth tokens.

[2016-03-04 17:39] edjiang commented on #54
I'll implement using non-configurable cookies for now, but let's chat about this on Thursday?

[2016-03-04 17:51] nbarbettini commented on #53
Well, there are a few things going on here. @robertjd can correct me if I get any of this wrong:
1. The frontend (mobile or SPA) client will send `X-Stormpath-Agent` with requests to the framework integration. For example, `X-Stormpath-Agent: stormpath-sdk-angularjs/0.9.0 angular/1.4.7`
2. The framework will construct its own User-Agent string, like `express-stormpath/3.0.0 express/4.13`. Any inco

[2016-03-04 18:01] edjiang commented on #53
I notice you're using the angular version number as well. Would it be helpful is Swift reported the iOS version? Not sure if there's an analogue there; I don't think I can get the Swift version.

[2016-03-04 18:02] nbarbettini commented on #53
The spec is pretty loose at this point - it's "any useful environment information". If we record it, we can run metrics on it. Would it be useful to have the iOS version?

[2016-03-04 19:07] lhazlewood commented on #53
Immensely useful.  We should capture _all_ user agent information we can - it helps us troubleshoot problems, prioritize features for customers based on quantity of environments used (e.g. 10 users on OS X version Y need Z vs only 2 users on version A), etc.  It is critically important for us and how we plan our roadmap.  Basically every operating system+version, browser+version and framework+vers

[2016-03-04 22:12] edjiang commented on #53
Awesome. Added iOS version number to our thing as ex. `iOS/9.2`

[2016-03-07 21:20] nbarbettini commented on #53
Mapped out SDK (stormpath/stormpath-sdk-spec#14) and framework (#55) behavior. I'll close this issue after we go through comments & revisions on both of those PRs.

[2016-03-08 16:13] nbarbettini opened #57 "How should frameworks respond to an incorrect verb?"
I was thinking about this in the context of #56 but realized the question applies to the entire spec.

There are a number of routes that only support GET and not POST, or vice versa:
- `/oauth/token` - POST
- `/me` - GET
- `/logout` - POST

If an incorrect verb is used, should the framework respond with `405`, `404`, or something else? This also applies to how the framework should handle verbs lik

[2016-03-09 22:13] nbarbettini commented on #40
+1

[2016-03-10 18:27] bretterer commented on #57
405 should be reported if the endpoint exists, but does not respond to the verb

404 should be reported if the endpoint does not exist.

[2016-03-11 17:50] nbarbettini commented on #57
:+1: Agreed. Created a new document to clarify this, see this PR: #59

[2016-03-11 18:06] nbarbettini commented on #46
I have no further concerns on this issue, other than addressing @lhazlewood's comment above. Do we want to change the base config name from `basePath` to `baseUri`?

[2016-03-11 22:46] nbarbettini opened #60 "Define CSRF behavior"
In our last meeting, we discussed the need to define how CSRF is handled in this spec, for possible inclusion in v1.0.0.

:bulb:  Todo!

[2016-03-12 01:20] robertjd commented on #39
Closing, after discussing I don't see a need to change this (but we will retain our null override in express-stormpath for now)

[2016-03-12 01:20] #39 closed, assigned to nobody

[2016-03-15 21:10] robertjd opened #62 "Regarding Produces & SPA Configuration"
Hey all, I've been digging into the implementation of our recent decisions regarding the produces option and I'm having some issues.

I don’t believe our framework should be responsible for serving someone’s SPA entry path.  I believe that should be the responsibility of the developer. If someone is using Stormpath with a SPA, all they need (and want) is the JSON API that allows them to use login,

[2016-03-15 21:27] nbarbettini commented on #62
I haven't voiced an opinion yet on the SPA functionality, because I haven't yet implemented it in my framework. I did have some concerns, though, around how exactly it would work. If the Stormpath middleware is first in the pipeline, and a web server is second, why should the former be responsible for serving up general HTML pages? (The HTML views still make sense, because they are a special case

[2016-03-16 00:21] nbarbettini opened #63 "How should an invalid fieldOrder value be handled?"
If my configuration for some form route looks like this:

[code]

What should happen when the incorrect/missing value `passwd` is encountered? Should an error be thrown (and when)?

[2016-03-16 01:00] lhazlewood commented on #63
IMO an error should always be surfaced as soon as it is found, i.e. 'fail fast' to let the user know that configuration is invalid.  This ensures that it is always clean - the alternative is a polluted config file over time.

[2016-03-16 02:50] nbarbettini commented on #63
Makes sense. I'm curious if we should spec it to fail at startup, or the first time said route is accessed. I'd be in favor of the former, since that gives the developer more feedback.

[2016-03-16 17:06] lhazlewood commented on #63
I prefer the former as well - the earlier in the app lifecycle the better IMO.

[2016-03-16 17:11] robertjd commented on #63
Yes, we should always fail at startup for configuration issues.  Very annoying otherwise.  FYI, we deemed field order configuration validation to be low prio for Express, we just don't show the field if it's not in the fields hash.

[2016-03-16 17:33] nbarbettini commented on #63
Alright, sounds like we're going in the same direction here. I think this should be in the spec - expanding [configuration.md](https://github.com/stormpath/stormpath-framework-spec/blob/master/configuration.md) to include additional validation concerns.

Whether this should be in v1.0 or v1.1, I don't know. As @robertjd said, it's fairly low prio, but I think it should be in there at some point.

[2016-03-17 02:06] bretterer commented on #63
@nbarbettini @robertjd My vote is v1.1 for this

[2016-03-17 22:32] nbarbettini opened #64 "Social provider ordering may change in the future"
I saw this note on [Login View Model](https://github.com/stormpath/stormpath-framework-spec/blob/master/login.md#login-view-model):

When will this get finalized?

[2016-03-17 22:33] robertjd commented on #64
Not anytime soon, so just go with the described ordering for now.

[2016-03-17 22:35] nbarbettini commented on #64
Shall we keep this ticket open to track/remind that it's still outstanding?

[2016-03-22 21:01] robertjd commented on #62
Okay guys, this is an epic walk-through of the developer experience around SPA support.

Ground rules: “asset pipeline” = “my web framework has some magical way for me to tell it where my SPA is, and that it should serve it as the default view for my website”

As of now we’ve designed a content negotiation scheme, because our library can render JSON or HTML views for the routes that we handle.  In

[2016-03-22 21:53] edjiang commented on #62
From the mobile client perspective, I am **very** in favor of having a default /api/\* subfolder, with easy configuration to a separate hostname (api.example.com), that ONLY serves json.

I also think it's easier for developer discovery, as then they can mess around with the API in-browser, and don't have to configure as many headers when using curl.

[2016-03-22 22:40] lhazlewood commented on #62
In the Spring / Spring Boot scenario, there is no 'asset pipeline' to be executed after our controllers.  The controller _is_ the terminal node in the request pipeline, and as such, requires knowledge of what view to render if the default view should not be rendered.  This is a reason why we needed a `stormpath.web.spa.view` value, because controller != filter/middleware.

Are you suggesting we sh

[2016-03-24 17:23] robertjd commented on #62
@lhazlewood no, I'm not suggesting you have to change to a filter approach :)  I still want to keep `stormpath.web.spa.view`, for exactly your scenario.  What I'm trying to re-define is how our framework responds if `stormpath.web.spa.view` is not present, for those of us who are using filter-based frameworks.

[2016-03-24 20:34] lhazlewood commented on #62
For posterity: in today's team meeting we agreed that changing the Java SDK to use filter-based interception rather than terminal controllers would be a better approach, and we'll entirely remove the `stormpath.web.spa` section from config.

The work for the Java SDK to support this approach is here: https://github.com/stormpath/stormpath-sdk-java/issues/542

[2016-03-24 22:03] nbarbettini commented on #62
If we end up accepting this solution (which I'm in favor of), we need to circle back around and talk about this: https://github.com/stormpath/stormpath-framework-spec/blob/master/requests.md#supported-verbs

The behavior of returning 405 for unsupported HTTP methods may need to change across the board.

[2016-03-25 23:02] edjiang opened #66 "Token Authentication"
Should we change https://github.com/stormpath/stormpath-framework-spec/blob/master/cookie-authentication.md so it refers to Token Authentication as well? Or do we need to define what token authentication is, and a separate set of responses.

[2016-03-25 23:31] nbarbettini commented on #53
Closed via #55

[2016-03-25 23:31] #53 closed, assigned to nobody

[2016-03-25 23:31] #46 closed, assigned to nobody

[2016-03-25 23:35] nbarbettini opened #67 "Configuration validation"
In the future, I propose we expand [configuration.md](https://github.com/stormpath/stormpath-framework-spec/blob/master/configuration.md) to include boot-time configuration validation.

For example, I think that these things should be ensured at startup (and an error thrown if something is amiss):
- `web.login` has a 'username' field and a 'password' field defined
- `web.register` has fields match

[2016-03-25 23:36] robertjd commented on #66
The [authenticators](authenticators.md) document is a stub which lists that authenticators that are responsible for token authentication, but each authenticator still needs a detailed information.

[2016-03-25 23:36] nbarbettini commented on #67
Putting this up for future discussion. :+1:

[2016-03-25 23:36] robertjd commented on #67
+1, when I was looking this document today it felt more like a "runtime
validation" description.

On Fri, Mar 25, 2016 at 4:36 PM, Nate Barbettini notifications@github.com
wrote:

[2016-03-26 00:07] edjiang commented on #40
Imma assign this to myself

[2016-03-28 15:57] #40 closed, assigned to nobody

[2016-03-29 14:27] bretterer opened #69 "Register Success for JSON"
Currently, we have the spec saying that we will return a 200 OK response with the root elements of the account (no collection resources)   ...

I am proposing we change the response code to the 201 CREATED response code as it is more common.

@robertjd

[2016-03-29 15:18] bretterer opened #71 "Logout Response Code"
Suggestion to change Response code for successful logout for JSON to 204 NO CONTENT instead of 200 OK

[2016-03-29 15:21] robertjd commented on #69
We used 201 in the past, but we removed it because we felt like 201 should be used for an API that is more like a REST-ful API, which the framework API is not.

[2016-03-29 15:23] robertjd commented on #71
We removed 204 because it [causes all kinds of XHR chaos in some browsers](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=xmlhttprequest%20204).  Generally speaking, using simple HTTP codes is the best for browser compatibility.

[2016-03-29 15:23] bretterer commented on #69
@robertjd but using JSON, you are treating it in a way like an API (think mobile)

I think it makes sense to do this.

[2016-03-29 15:25] bretterer commented on #71
@robertjd so we are catering to IE 7 and 8 for this issue?

[2016-03-29 15:26] robertjd commented on #69
JSON != RESTful.  Further, I'm aggressively fighting un-necessary changes
to the spec, because we already have a lot of work to do.  200 or 201 isn't
really going to matter to the customer.

On Tue, Mar 29, 2016 at 8:23 AM, Brian Retterer notifications@github.com
wrote:

[2016-03-29 15:26] robertjd commented on #71
Yes, and recent versions of Opera and older versions of Firefox.

On Tue, Mar 29, 2016 at 8:25 AM, Brian Retterer notifications@github.com
wrote:

[2016-03-29 15:29] #62 closed, assigned to nobody

[2016-03-29 15:31] bretterer commented on #71
I would like to keep this open.  We should not be supporting these old version.... You cant even install IE7 or IE8 anymore and Opera and Firefox auto update.  The versions of all of these browsers are all EOL

We can discuss internally

[2016-03-29 15:36] nbarbettini commented on #69
I don't have a strong opinion on this; I'm fine with 200 as it is.

[2016-03-29 15:38] nbarbettini commented on #71
Side rant: It's pretty silly that browsers don't even handle the normal HTTP spec. 204 isn't crazy by any means.

[2016-03-31 17:26] nbarbettini opened #72 "web.verify.nextUri should include status"
Relevant section of the spec: https://github.com/stormpath/stormpath-framework-spec/blob/master/email-verification.md#get-requests-that-prefer-texthtml

For the `/change` route, we include the status parameter in the [configuration](https://github.com/stormpath/stormpath-framework-spec/blob/master/web-config.yaml#L161), instead of appending it at runtime.

I think `verify.nextUri` should act the s

[2016-04-01 01:40] edjiang opened #73 "IDsite"
We have in the framework spec to kick off the IDSite thing, but not vice versa. Should we add this into the spec for 1.0? Looks like express has a `/idSiteResult` endpoint to take the `StormpathToken`

[2016-04-01 15:30] lhazlewood commented on #73
Good point - all SDKs pretty much have this, so yeah, it should be in the spec.

[2016-04-01 16:01] edjiang commented on #73
Cool, I'll plan to write this today.

[2016-04-01 17:03] edjiang opened #74 "Status Codes"
I was doing some research on status codes yesterday after @bretterer brought up some great points yesterday about #69 and #71.

Status codes are really useful when you're building a generic client, or for discoverability when you're messing around with the API in something like Postman. However, as an API client consumer, there are at times so many status codes in the HTTP spec, I am not going to

[2016-04-01 20:11] nbarbettini commented on #63
Just realized that #67 is the same thing, just a wider scope.

[2016-04-02 00:31] edjiang opened #79 "Unauthorized View in Configuration"
While writing #76 and #78, I noticed a configuration option:

[code]

This seems to specify a view for an unauthorized error page.

**I think we should remove this** and use the default framework error renderer to render these error pages, which should be more consistent for framework users.

Also, express-stormpath doesn't seem to be using this and instead renders the view without looking at the

[2016-04-05 16:17] nbarbettini commented on #79
I know there was some original reasoning behind it, but it was before my time. I'm interested to hear @robertjd's input.

This hasn't been implemented in .NET yet at all. And I think you're right, it's ignored in express.

[2016-04-05 22:14] robertjd commented on #69
Was this discussed during the last weekly meeting?

[2016-04-05 22:23] edjiang commented on #69
Yes, we decided to icebox these two about status codes.

[2016-04-05 22:29] lhazlewood commented on #69
FWIW, 200 vs 201 has nothing to do with REST - this is core HTTP stuff.  REST designers just ensured they were adhering to the spec (unlike many bad web applications created over the years).

As for discussion, I believe we decided to keep 200 and change it after 1.0 - maybe 1.1?  If/when that time comes, we could always default this to whatever we want (my vote would be 201) and allow a config va

[2016-04-05 22:51] robertjd commented on #69
I certainly want to table this for now, so let's do that.  But while I'm at it: adding a configuration property for this seems totally un-necessary.  Whatever we decide should just be the behaviour.

[2016-04-06 15:31] lhazlewood commented on #69
Fine by me - I was only mentioning a backwards-compatible option if app devs actually cared about this - I suspect most won't though.

[2016-04-06 15:50] nbarbettini opened #81 "Return WWW-Authenticate challenge with 401"
We return `401 Unauthorized` for protected routes (such as `/me`), and presumably for any routes that are protected by a `requireAuthorization` helper/filter.

According to [RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2),

This is likely low-prio/icebox, but I wanted to get it on the radar to discuss.

[2016-04-06 16:47] lhazlewood commented on #81
+1 - we should always adhere to the HTTP spec.  FWIW, this is the current spec:

https://tools.ietf.org/html/rfc7235#section-4.1

[2016-04-07 16:29] #79 closed, assigned to nobody

[2016-04-07 17:38] #57 closed, assigned to nobody

[2016-04-07 18:31] #66 closed, assigned to nobody

[2016-04-07 19:10] omgitstom commented on #72
[code]

@robertjd @edjiang  - can you update the spec

[2016-04-08 01:07] edjiang opened #84 "Application resolution is not defined properly?"
https://github.com/stormpath/stormpath-framework-spec/blob/master/configuration.md

Application resolution does not talk about loading from ENV Variables. Also I don't see these properties in web-config.yaml.

Let's knock this out.

[2016-04-08 01:11] nbarbettini commented on #84
That's because we're downstream of the SDK here, and it is the SDK's job to load the configuration from [all the sources](https://github.com/stormpath/stormpath-sdk-spec/blob/master/specifications/config.md#loading-order). The framework spec is just reasoning about a config object that has already been populated.

web-config.yaml only shows the `web` leaf of the `stormpath` config tree. The others

[2016-04-10 17:05] dogeared opened #85 "web-config.yaml file name?"
How important is it that the file name be `web-config.yaml`?

For Spring and Spring Boot, a file named `application.yml` will automatically be read. If the file _must_ be named `web-config.yaml`, some defaults will need to be overridden for Spring and Spring Boot.

[2016-04-10 17:44] nbarbettini commented on #85
web-config.yaml is just an example - the default file name should be
stormpath.yaml or stormpath.json. (See the SDK Spec section on config.)

On Sunday, April 10, 2016, Micah Silverman notifications@github.com wrote:

[2016-04-12 17:12] nbarbettini opened #86 "Change Password section missing some details"
I think [this section](https://github.com/stormpath/stormpath-framework-spec/blob/master/password-reset.md#post-handling) is missing:
- A note describing that the `sptoken` parameter will be on the query string for form POSTs, instead of in the POST body (which the JSON-only example implies)
- The second form field (`passwordAgain`)
- Validation check that the first and second fields match - I thi

[2016-04-12 17:48] nbarbettini opened #88 "Preserve path, query, and fragment when redirecting unauthorized requests?"
I think [Cookie Authentication#Rejecting Requests](https://github.com/stormpath/stormpath-framework-spec/blob/master/cookie-authentication.md#rejecting-requests) should be amended to note that the path, query, and fragment should all be preserved when appending the relative URL to the `next` parameter. The query and fragment should also be properly URL encoded.

Additionally, it wouldn't hurt to c

[2016-04-13 16:09] jarias opened #89 "Missing Cookie max age property in the cookie-authentication spec"
https://github.com/stormpath/stormpath-framework-spec/blob/master/cookie-authentication.md

The max age is not mention in the properties but I think it should be configurable.

@omgitstom If you want I can create a PR for this but probably the other evangelist should at least look at it.

[2016-04-13 17:15] nbarbettini commented on #89
We already have cookie expiration defined by the OAuth Policy:

Is there any reason we should use max-age instead of expires?

[2016-04-13 17:17] jarias commented on #89
Thanks @nbarbettini I miss that, closing this

[2016-04-13 17:17] #89 closed, assigned to nobody

[2016-04-13 17:17] nbarbettini commented on #89
No prob :smile:

[2016-04-13 18:16] nbarbettini opened #90 "Should /register also support next=?"
`/login` supports a `?next=/foo` query parameter that allows a user to be redirected back to a protected route they were trying to access.

It might be nice to support this on `/register`, too. If the user tries to access a protected route and then clicks "Create an Account", they'll currently be just redirected to `web.register.nextUri`.

[2016-04-13 20:11] bretterer commented on #90
My feeling is that this is too detailed about how the `redirect after login` should work.  We should say something along the lines of.

Protected routes should maintain the intended url after successful login or registration.  If the framework does not have a built in functionality, a `next` query parameter should be used to maintain the intended url to redirect after a user successfully registere

[2016-04-14 17:45] robertjd commented on #88
Meeting today: agreement that we should preserve the route that the user desires to go to, but undecided what the implementation should be (cookie based or URL parameter based).

[2016-04-14 17:46] robertjd commented on #88
Also, FYI @nbarbettini, browsers don't send the fragment to the server.

[2016-04-14 17:49] edjiang commented on #88
Also for 1.1.

We will clarify the open url restriction

[2016-04-14 18:26] nbarbettini commented on #90
Nate will split this into two separate issues: documentation change, and more secure way (1.1).
- /login will support this in a more general way, in 1.0 (described in #91)
- /register will support this in 1.1
- Better implementation in 1.1

[2016-04-14 18:27] nbarbettini opened #91 "Update documentation on next handling for /login"
The next parameter handling should be done in an idiomatic way in the respective framework, if possible. If not, we will handle it ourselves.

[2016-04-14 18:41] omgitstom commented on #84
@nbarbettini plz update and close

[2016-04-15 17:25] nbarbettini opened #92 "Clarify Change Password spec further"
(Currently iceboxed)

Picking up our old disussion. A few points:
- Should the Change Password form have one or two text boxes?
- If two, what should the second textbox be named? (Currently `passwordAgain` in express and dotnet)
- If two, should the integration do a string equality check before sending the request to Stormpath?
- How many parameters should the JSON endpoint expect?

[2016-04-15 17:29] nbarbettini opened #93 "Update the "redirect after login" functionality"
(Currently iceboxed)

We need to agree upon a way for our redirect-after-login functionality to work, **if** it's not being handled by the host framework (as is the case with Laravel and possibly others). Currently, express and dotnet use a custom implementation.

Also: should `/register` support this functionality?

Les and Robert had some opinions on how this should work. Discussion time!

[2016-04-15 17:32] edjiang commented on #88
As a note for the `next` parameter, Facebook seems to be doing that on its login page (although probably whitelisting a set of domains, as I couldn't get it to redirect to non-FB urls):

[code]

[2016-04-15 23:01] edjiang opened #95 "Need to clarify to render error form"
https://github.com/stormpath/stormpath-framework-tck/issues/141

This isn't quite in the spec? But should be

[2016-04-15 23:43] edjiang opened #96 "Describe how to kick off social login"

[2016-04-18 00:55] edjiang opened #97 "Look into this:"
https://github.com/stormpath/express-stormpath/pull/417

[2016-04-18 22:00] DamirSvrtan opened #98 "Externalize Strings for Easy Customization / i18n"
I came across this issue with @omgitstom today at our weekly meeting:

The login.md states what should be written when we get a redirect to the login page from somewhere else: https://github.com/stormpath/stormpath-framework-spec/blob/master/login.md#status-messages

I'd like to see this in the config, instead of hardcoding it in the views.

[2016-04-19 17:26] #97 closed, assigned to nobody

[2016-04-19 17:30] edjiang commented on #98
Hey @DamirSvrtan, not sure about the full conversation with @omgitstom so far, but I believe the direction we've been approaching so far has been:
- Implement views in the framework's "native" view renderer
- Make it easy to edit the views, or override the views with your own

This makes it so that if people want to customize any of the screens, they can easily do so. I think this should also cove

[2016-04-19 17:32] #85 closed, assigned to nobody

[2016-04-19 17:33] edjiang commented on #63
Closed in favor of #67

[2016-04-19 17:33] #63 closed, assigned to nobody

[2016-04-19 17:34] edjiang commented on #67
I've closed #63 in favor of this issue; please refer to that for additional discussion

[2016-04-19 18:17] omgitstom commented on #98
We are not going to modify the config as of now, it is up to the views to understand how to handle these statuses and messages. What Damir is bringing up is that it may be nicer for the messages to be stored in the config so they can be easily modified.

When we think about support for i18n, etc... it will be necessary to externalize these strings.  I honestly do not know if it will be in the main

[2016-04-19 18:18] nbarbettini commented on #98
+1 for (eventually) moving away from hardcoding strings in views. It's definitely important for i18n and other things.

[2016-04-19 18:21] edjiang commented on #98
OK, I will put this in the 1.1 milestone for now, so we can discuss after we get 1.0 out =]

[2016-04-19 18:25] lhazlewood commented on #98
The Java integrations are all internationalized already - please keep this in mind whenever coming up with a general strategy.  We don't want to change those views much (if at all), as I think they're mostly using best practices anyway.

[2016-04-19 18:31] nbarbettini commented on #98
"they" being the views in the Java integration @lhazlewood?

[2016-04-19 20:30] lhazlewood commented on #98
yep, sorry for not being clearer!

[2016-04-19 22:42] edjiang opened #99 "Autologin for `/verify`?"
https://github.com/stormpath/express-stormpath/pull/417#issuecomment-212145473

Autologin currently doesn't work at all with the email verification flow. Should `/verify` also support that option?

[2016-04-20 00:21] edjiang commented on #52
I talked about this with @nbarbettini and @ericlw today, and I think this warrants further discussion at this Thursday's meeting, and a decision to either:
1. Icebox
2. Enforce strict validation (and break mobile clients) before 1.0 is finalized, or
3. Silently drop disabled fields.

**The problem**

As a developer using a Stormpath integration, I expect that when `middleName` is `enabled: false`,

[2016-04-20 19:51] edjiang commented on #96
I don't think we need to discuss kicking it off, but we should at least define standards for auth code vs. token callbacks

[2016-04-21 16:32] nbarbettini commented on #52
I'm confused on this point. Why does the mobile SDK need to decide between sending `null` and empty string? Why couldn't it just always send `null` unless there was a non-empty value to send?

[2016-04-21 17:24] edjiang commented on #52
I retract that statement, as I wasn't thinking when I wrote it.

However, it will make it easier for developers to break their APIs.

For instance:
1. Developer adds a "favorite color" field to the registration form.
2. Developer decides that the field is unnecessary, and removes it.
3. All mobile clients break, as they get a `400 Bad Request`. :(

To fix step 3, we either need to:
1. Silently acc

[2016-04-21 18:11] #86 closed, assigned to nobody

[2016-04-21 18:15] #88 closed, assigned to edjiang

[2016-04-21 18:15] #91 closed, assigned to nobody

[2016-04-21 18:16] #72 closed, assigned to edjiang

[2016-04-21 18:22] #95 closed, assigned to edjiang

[2016-04-26 21:55] #73 closed, assigned to edjiang

[2016-04-26 21:56] #84 closed, assigned to edjiang

[2016-04-26 21:56] #99 closed, assigned to edjiang

[2016-04-28 18:34] #52 closed, assigned to edjiang

[2016-04-30 00:21] #60 closed, assigned to robertjd

[2016-04-30 00:21] #96 closed, assigned to edjiang

[2016-05-05 17:41] nbarbettini opened #109 "Update example config"
There have been a number of configuration updates that need to be reflected in `example-config.yaml`:
- #103 Standardize autologin, and add to email verification
- (any others, I think that's it?)

[2016-05-27 01:56] edjiang opened #111 "Defining the Application HREF should override the SDK's baseURL"
Talked about it in the Evangelism Monthly meeting today; Tom said this should already be behavior. I could not find this documented.

If an application has:

`STORMPATH_APPLICATION_HREF=https://enterprise.stormpath.io/v1/XYZ`

It should auto-set the Stormpath `baseUrl` to `https://enterprise.stormpath.io/` for developer convenience.

[2016-05-27 22:10] edjiang opened #112 "GET Requests on /logout"
@robertjd - I couldn't get Chrome to prefetch this page for me, so I wasn't able to test if it worked. Can you please test this and let me know if it works properly?

I said this would be "under 20 lines of code"; I got it to 19! Maybe you can get it to 1? ;]

[code]

[code]

[2016-06-02 18:17] nbarbettini commented on #112
Looks good.

We also need to add configuration support for a "view" for the logout route, now that we're returning HTML for that route.

[2016-06-02 18:18] robertjd commented on #112
Note to self for when I review in deatil: can this be used in an iframe to recreate a logout CSRF attack?  If so we need to set X-Frame-Options: SAMEORIGIN on this response

[2016-06-13 18:53] nbarbettini commented on #111
This is good, but we need to discuss where this logic will live. Probably at the integration level, but it may need low-level SDK support.

[2016-06-13 20:42] robertjd commented on #111
I think that a framework integration should do this.  It will achieve this by looking at the `application.href` option, and then passing a `baseUrl` option to the client constructor in the SDK.  We should continue to maintain the REST clients, as created by the SDKs, as application-agnostic.

[2016-06-17 16:45] mrioan opened #114 "Redirection must happen when unauthenticated user tries to access restricted resource"
We discovered a bug in Java SDK where Spring Security was not redirecting to the login page when a an authenticated request tries to access a restricted resource.

There should be a test for this.

OPEN: all SDKs should have a restricted endpoint, which one?

[2016-06-17 21:06] mrioan commented on #114
This was intended to be created in the TCK. Closing

[2016-06-17 21:06] #114 closed, assigned to nobody

[2016-06-22 23:12] edjiang opened #116 "We need to accommodate email verification workflows on mobile"
If I configure a Stormpath integration like so for mobile:

`produces: application/json`

The `/verify` endpoint will only listen for things preferring application/json, and won't respond to browser requests.

However, the email sent will usually be in a mobile email client, which will open a browser (which prefers HTML). This request will fall through and 404.

Two solutions:
1. Suggest that the

[2016-06-23 16:47] robertjd commented on #116
This is an issue.  (1) won't work, cuz that page is ugly and can't redirect the user back to the mobile application.  (2) may work, I need to check in again with our SPA strategies to make sure it's not going to break anything.

[2016-06-23 16:49] edjiang commented on #116
I'm OK with 1 not redirecting the user back to mobile. If it's ugly, that's a quick fix.

[2016-06-23 16:53] robertjd commented on #116
If you want to suggest (1) for mobile that's your call, but it feels lame.

[2016-06-23 17:07] edjiang commented on #116
Yeah, redirecting back to mobile is actually quite a problem, since it's hard for a web browser to know whether or not a mobile app is installed. I think most apps don't deal with this and thus leave you on the website when you click the verification link on mobile. Some do a better job, but the techniques to accomplish this are varied.

[2016-06-23 17:15] edjiang commented on #109
I thought #103 is already reflected?

[2016-06-23 17:17] edjiang opened #117 "Update login default config to be consistent with Registration"
https://github.com/stormpath/stormpath-framework-spec/blob/master/example-config.yaml#L138

This should just be "Email", since the default registration is email only.

[2016-06-23 20:58] edjiang opened #118 "I propose that autologin be changed to default true"

[2016-06-27 21:49] nbarbettini commented on #111
+1 for this. I just had a customer run into the issue that this would solve: they changed `application.href` but not `client.baseUrl` and were confused why it didn't work.

This is a great idea!

[2016-08-11 21:48] robertjd opened #120 "Self-service token revocation"
Use case: a mobile client is authenticated with an access token and may also have a refresh token, now the user wan't to "log out", and have those tokens revoked.

At the moment we don't have an easy way to do this.  The workaround would be to make a POST to the /logout endpoint, and supply the tokens as if they were the `access_token` and `refresh_token` cookies that the /logout endpoint expects.

[2016-08-12 12:26] nbarbettini commented on #120
:+1:

[2016-08-17 17:47] robertjd opened #121 "Clients need to know if forgot password workflow is enabled"
At the moment, front-end clients don't know if they should render the "Forgot Password" link on the login form.

It seems that we could add a property to the login view model, e.g. `showForgotPasswordLink`, which pulls its value from `stormpath.web.forgotPassword.enabled`

[2016-08-18 18:41] robertjd commented on #121
Per today's meeting, this can see a PR.

[2017-01-27 08:15] cilim commented on #111
Since the `basePath` is set to null by default, what should happen in scenarios where the `basePath` is set? Should the `STORMPATH_APPLICATION_HREF` take precedence over it?

For example if a user sets the `STORMPATH_APPLICATION_HREF` to `https://enterprise.stormpath.io/v1/applications/XYZ` and the `basePath` to `api.stormpath.com` or vice versa. Maybe throw a warning to the developer or raise an

[2017-11-13 00:16] #92 closed, assigned to nobody